@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 3s linear infinite;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* track transparan */
}

::-webkit-scrollbar-thumb {
  background: #7a7a73; /* warna pegangan scroll */
  border-radius: 2.5px;
}
